*{
    margin:0 ;
    padding: 0;
    box-sizing:border-box;
}
body{
     
  background: linear-gradient(to bottom,
    rgba(18,46,67,0.9),
    rgba(18,46,67,0.8),
    rgba(18,46,67,0.7)
  );
}

.cvrpg {
    height: 100vh;
    width: auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    


    background-image:linear-gradient(to right, rgba(18,46,67,0.9), rgba(28,64,67,0.15)),url("mybg.jpg");
    background-repeat:no-repeat;
    background-position:right center;
    background-size:cover;

}

.cvrpg p{
    color: rgb(256, 256, 256);
    font-size: 30px;
}

.cvrpg h1{
    color: black;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 80px;

}
.section{
    background-image:linear-gradient(to right ,rgba(18,46,67,0.3)),url("sectionbg.webp");
    justify-content: center;
    align-items:center;
    padding: 0;
    display: flex;
    height: 100vh;
    width: auto;
    background-size: cover;
    
}

.section .box {
  background:linear-gradient(rgba(18,46,67,0.7));   
  width: 60%;                  
  padding: 50px;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}
.box .intropara p{
    font-size: 20px;
    color:white;
}


.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  
  display: flex;             /* REQUIRED */
  align-items: center;       /* align menu + social vertically */
  justify-content: space-between; /* social left, menu right */
  background: none;

}

.navbar ul {
  list-style: none;        /* remove bullets */
  margin:0;
  padding: 0;
  display: flex;           /* make items horizontal */
    }

.navbar li{
  margin: 20px;
  font-size: 28px;
  font-weight: 400;
}

.navbar li a{
  color: black;
  font-style:italic;
  text-decoration: none;
  
}
.navbar .social{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 15px;

}

body.projects{
  height: 100vh;
  background-image:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("projects.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.projects h1{

  text-align: center;
  font-size: 70px;
  font-weight: 900;

}

body.projects ul{
  margin-left: 15px;
  text-align: left;
  font-size: 40px;
  font-weight: 900;

}
body.projects p{
  text-align: left;
  margin-left: 60px;
}
body.projects a{
  text-decoration: none;
}
.footer{
  text-align: center;
  padding: 20px;
  
  
}